body {
  font-family: "Inria Serif", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  color: black;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  color: white;
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Inria Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0 1rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  font-family: "Inria Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

footer a {
  display: flex;
  font-size: 1rem;
  display: inline-block;
  text-wrap: nowrap;
}

.header a.nav-link {
  font-size: 1rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

label {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 0.25rem;
}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }
  .card-title {
    font-size: 1.5rem;
  }
}
